<h1>K-Nearest-Neighbors Classifier</h1>
Create a K-Nearest-Neighbors Classifier supporting 3 dimensions<br>
Investigate whether it performs better

<h3>Import libraries</h3>

In [2]:
import pandas as pd
import numpy as np
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics
from sklearn.model_selection import train_test_split

<h3>Reading data</h3>
Using pandas to read the csv file.

In [4]:
data = pd.read_csv('weather.csv', parse_dates=True, index_col=0)
data.head()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
Date,,,,,,,,,,,,,,,,,,,,,
2008-02-01,19.5,22.4,15.6,6.2,0.0,NaN,NaN,S,SSW,17.0,...,84.0,1017.6,1017.4,8.0,8.0,20.7,20.9,Yes,6.0,Yes
2008-02-02,19.5,25.6,6.0,3.4,2.7,NaN,NaN,W,E,9.0,...,73.0,1017.9,1016.4,7.0,7.0,22.4,24.8,Yes,6.6,Yes
2008-02-03,21.6,24.5,6.6,2.4,0.1,NaN,NaN,ESE,ESE,17.0,...,86.0,1016.7,1015.6,7.0,8.0,23.5,23.0,Yes,18.8,Yes
2008-02-04,20.2,22.8,18.8,2.2,0.0,NaN,NaN,NNE,E,22.0,...,90.0,1014.2,1011.8,8.0,8.0,21.4,20.9,Yes,77.4,Yes
2008-02-05,19.7,25.7,77.4,NaN,0.0,NaN,NaN,NNE,W,11.0,...,74.0,1008.3,1004.8,8.0,8.0,22.5,25.5,Yes,1.6,Yes

In [5]:
data.index

DatetimeIndex(['2008-02-01', '2008-02-02', '2008-02-03', '2008-02-04',
               '2008-02-05', '2008-02-06', '2008-02-07', '2008-02-08',
               '2008-02-09', '2008-02-10',
               ...
               '2017-06-16', '2017-06-17', '2017-06-18', '2017-06-19',
               '2017-06-20', '2017-06-21', '2017-06-22', '2017-06-23',
               '2017-06-24', '2017-06-25'],
              dtype='datetime64[ns]', name='Date', length=3337, freq=None)

<h3>Data check</h3>
Identify all columns with datatype float64

In [6]:
data.dtypes

MinTemp          float64
MaxTemp          float64
Rainfall         float64
Evaporation      float64
Sunshine         float64
WindGustDir       object
WindGustSpeed    float64
WindDir9am        object
WindDir3pm        object
WindSpeed9am     float64
WindSpeed3pm     float64
Humidity9am      float64
Humidity3pm      float64
Pressure9am      float64
Pressure3pm      float64
Cloud9am         float64
Cloud3pm         float64
Temp9am          float64
Temp3pm          float64
RainToday         object
RISK_MM          float64
RainTomorrow      object
dtype: object

<h3>Creating the dataset</h3>
Using Humdity3pm and Pressure3pm togeather and using RainTomorrow as prediction.<br>

In [7]:
header = ['Humidity3pm', 'Pressure3pm', 'Cloud3pm', 'RainTomorrow']
dataset = data[header]

In [8]:
dataset.head()

            Humidity3pm  Pressure3pm  Cloud3pm RainTomorrow
Date
2008-02-01         84.0       1017.4       8.0          Yes
2008-02-02         73.0       1016.4       7.0          Yes
2008-02-03         86.0       1015.6       8.0          Yes
2008-02-04         90.0       1011.8       8.0          Yes
2008-02-05         74.0       1004.8       8.0          Yes

<h3>Removing missing data from the csv</h3>

In [9]:
dataset_clean = data.dropna()
len(dataset), len(dataset_clean)

(3337, 1690)

<h3>Splitting the dataset into traning and testing data</h3>
Dataset X consist of three columns. <br>
Datasety consist of 'RainTomorrow'. <br>
Divide into X_train, X_test, y_train, y_test with train_test_split.<br>
<br>
Random_state is used to reproduce the results.

In [10]:
X = dataset_clean[header[:3]]
y = dataset_clean[header[3]]
y = np.array([0 if value == 'No' else 1 for value in y])

In [17]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=25)

<h3>Train and test the model</h3>
Create a classifier using KNeigborClassifier<br>
Fitting the model with the training data, which predict the data from X_test to predict and assign to y_pred.<br>
Evaulate teh score suing metrics.accuracy_score(y_test, y_pred)

In [18]:
neigh = KNeighborsClassifier()
neigh.fit(X_train, y_train)
y_pred = neigh.predict(X_test)
metrics.accuracy_score(y_test, y_pred)

0.7966903073286052